ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(255, 255, 255);
}

a {
  font-family: Machina;
  font-size: 30px;
}
h2 {
  font-family: Helvetica;
  text-align: center;
}
p {
  font-family: Helvetica;
  text-align: center;
}
h1 {
  font-family: Helvetica;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: Machina;
  src: url(Neue-Machina/NeueMachina-Regular.otf);
}

