<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportsHub— Top Ten</title>
    <link rel="stylesheet" href="static\css\menu.css">
</head>

<body style = "background: linear-gradient(90deg, #dac2c2, #e29c91, #f39060, #ffb56b);;">
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="sports">Sports</a></li>
    <li><a href="stats">Stats</a></li>
    <li><a href="top">Top Players</a></li>
    <li style="float:right"><a class="active" href="about">About</a></li>
  </ul>

      <br>
    </br>
      <h1 style="font-size: 100px;">Rishi and Jeeva</h1>
      <h1 style="font-size: 100px;">Millard Period 6 CSP</h1>
      <h1 style="font-size: 100px; color: white">SportsHub, 2021</h1>
</body>


</html>