<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/menu.css">
<title>SportsHub</title>
</head>
<body id="grad1">
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="sports">Sports</a></li>
        <li><a href="stats">Stats</a></li>
        <li><a href="top">Top Players</a></li>
        <li style="float:right"><a class="active" href="about">About</a></li>
      </ul>

      <br> </br>
 <br> </br>
 <br> </br>
<h2>SportsHub</h2>
<h4>The premier spot to get all sports content</h4>
     
</body>
</html>
