<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportsHub— Stats</title>
    <link rel="stylesheet" href="static\css\menu.css">
</head>
<body style = "background: rgb(170, 255, 100);">
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="sports">Sports</a></li>
        <li><a href="stats">Stats</a></li>
        <li><a href="top">Top Players</a></li>
        <li style="float:right"><a class="active" href="about">About</a></li>
      </ul>

</body>
</html>