<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportsHub— Stats</title>
    <link rel="stylesheet" href="static\css\form.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function() {
        $(".search_button").click(function() {
            var search_word = $("#search_box").val();
            var dataString = 'search_word='+ search_word;
            if(search_word==''){
            }else{
              $.ajax({ 
                type: "POST",
                url: "/searchdata",
                data: dataString,
                cache: false,
                beforeSend: function(html) {
                    document.getElementById("insert_search").innerHTML = ''; 
                    $("#flash").show();
                    $("#searchword").show();
                    $(".searchword").html(search_word);
                    $("#flash").html('<img src="/static/img/loader.gif" align="absmiddle"> Loading Results...');
                  },
                success: function(html){
                    $("#insert_search").show();
                    $("#insert_search").append(html.data);
                    $("#flash").hide();
                }
              });
            }
          return false;
        });
      });
      </script>
<style>
  
</style>
</head>
<body>
    <ul>
        <li style="float: left"><a class="active" href="/">Home</a></li>
        <li style="float: left"><a href="sports">Sports</a></li>
        <li style="float: left"><a href="stats">Stats</a></li>
        <li style="float: left"><a href="top">Top Players</a></li>
        <li style="float:right"><a class="active" href="about">About</a></li>
      </ul>
      <br>
      <br>
      <h1>Sports Leagues Revenue Search</h1>
<!-- 
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for leagues..." title="Type in a name">
      <ul id="myUL">
        <li><a href="https://www.nba.com/">NBA</a></li>
        <li><a href="https://www.nfl.com/">NFL</a></li>
      
        <li><a href="https://www.premierleague.com/">Premier League</a></li>
        <li><a href="https://www.laliga.com/en-US">La Liga</a></li>
      </ul>
      <br>
-->
<div>
<div class="container">
  <form method= "get" action="">
    <input type= "text" name= "search" id= "search_box" class= 'search+box' />
    <input type= "submit" value= "Search" class= "search_button" /><br />
    <span style = "text-align: center; font-size: 14px; font: Helvetica"><b> Ex:</b> LaLiga</span>
  </form>
</div>
</div>

<div>
  <div>
    <div style="padding-left: 100px; padding-top: 30px;">
      <div id="searchword">Search results for <span class="searchword"></span></div>
      <div id="flash"></div>
      <ol id="insert_search"></ol>
    </div>
  </div>
</div>
	<script src="js/project.js"></script>

</body>
</html>