<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportsHub— Top Players</title>
    <link rel="stylesheet" href="static/css/menu.css">
    <script src="project.js"></script>
    <style>
        .grid-container {
          display: grid;
          grid-template-columns: auto auto auto;
          margin: auto;
        }
        .grid-item {
          font-family: Courier New;
          margin: auto;
          padding: 1px 2px 10px 4px;
          font-weight: 3000px;
          text-align: center;
        }
    </style>
</head>
<body>
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="sports">Sports</a></li>
    <li><a href="stats">Stats</a></li>
    <li><a href="top">Top Players</a></li>
    <li style="float:right"><a class="active" href="about">About</a></li>
  </ul>


      <h1>Basketball</h1>
      <div class="grid-container">
        <div class="grid-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="static/photos/download.jpg" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h1>Michael Jordan</h1> 
                <p>"His Airness"</p> 
                <p>6× NBA champion</p>
                <p>6× NBA Finals MVP</p>
                <p>5× NBA Most Valuable Player</p>
                <p>14× NBA All-Star</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="grid-item">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="static/photos/bronny.jpg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Lebron James</h1> 
                  <p>"The L-Train"</p> 
                  <p>4× NBA champion</p>
                  <p>17× NBA All-Star</p>
                  <p>4× NBA Most Valuable Player</p>
                  <p>4× NBA Finals MVP</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="static/photos/kareem-abdul-jabbar-iso-1981.jpeg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Kareem Abdul-Jabbar</h1> 
                  <p>"The Big 'A'"</p> 
                  <p>6× NBA champion</p>
                  <p>6× NBA Most Valuable Player</p>
                  <p>19× NBA All-Star</p>
                  <p>4× NBA blocks leader</p>
                </div>
              </div>
            </div>
          </div>
        </div>  
        <div class="grid-item">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="static/photos/magic.jpg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Magic Johnson</h1> 
                  <p>"E.J. the Deejay"</p> 
                  <p>5× NBA champion</p>
                  <p>12× NBA All-Star</p>
                  <p>3× NBA Finals MVP</p>
                  <p>3× NBA Most Valuable Player</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="static/photos/kobe.jpg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Kobe Bryant</h1> 
                  <p>"The Black Mamba"</p> 
                  <p>5× NBA champion</p>
                  <p>2× NBA Finals MVP</p>
                  <p>4× NBA All-Star Game MVP</p>
                  <p>10× NBA All-Star</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="static/photos/shaq.jpg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Shaquille O'Neal</h1> 
                  <p>"The Big Daddy"</p> 
                  <p>4× NBA champion</p>
                  <p>3× NBA Finals MVP</p>
                  <p>NBA Most Valuable Player</p>
                  <p>15× NBA All-Star</p>
                </div>
              </div>
            </div>
          </div>
        </div>  
        
      </div>

      <h1>American Football</h1>
      <div class="grid-container">
        <div class="grid-item">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="static/photos/jerry-rice-happy-birthday.jpeg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Jerry Rice</h1> 
                  <p>"Gentleman Jerry"</p> 
                  <p>3× Super Bowl champion</p>
                  <p>2× NFL Offensive Player of the Year</p>
                  <p>10× First-team All-Pro</p>
                  <p>13× Pro Bowl</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="static/photos/download (2).jpeg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Tom Brady</h1> 
                  <p>"Tom Terrific"</p> 
                  <p>7× Super Bowl champion</p>
                  <p>5× Super Bowl MVP</p>
                  <p>3× NFL Most Valuable Player</p>
                  <p>14× Pro Bowl</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="static/photos/Lawrence-Taylor.jpeg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Lawrence Taylor</h1> 
                  <p>"L.T."</p> 
                  <p>2× Super Bowl champion</p>
                  <p>3× NFL Defensive Player of the Year</p>
                  <p>8× First-team All-Pro</p>
                  <p>10× Pro Bowl</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="static/photos/jim-brown-cleveland-browns-1963-nljpg.jpeg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Jim Brown</h1> 
                  <p>“First Down Brown"</p> 
                  <p>NFL champion</p>
                  <p>3× NFL MVP</p>
                  <p>NFL Rookie of the Year</p>
                  <p>8× First-team All-Pro</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="static/photos/download (2) copy.jpeg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Walter Payton</h1> 
                  <p>"Sweetness"</p> 
                  <p>Super Bowl champion</p>
                  <p>NFL MVP</p>
                  <p>5× First-team All-Pro</p>
                  <p>9× Pro Bowl</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="grid-item">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="static/photos/download (2) copy 2.jpeg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Joe Montana</h1> 
                  <p>"Golden Joe"</p> 
                  <p>4× Super Bowl champion</p>
                  <p>3× Super Bowl MVP</p>
                  <p>3× First-team All-Pro</p>
                  <p>8× Pro Bowl</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <h1>Soccer</h1>
      <div class="grid-container">
          <div class="grid-item">
            <div class="grid-item">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="static/photos/Cristiano_Ronaldo_(4).jpeg" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>Cristiano Ronaldo</h1> 
                    <p>"CR"</p> 
                    <p>5x Ballon d'Or</p>
                    <p>3x UEFA Best Player in Europe</p>
                    <p>19x Top Scorer</p>
                    <p>5x Player of the Year</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="grid-item">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="static/photos/download (2) copy 4.jpeg" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>Lionel Messi</h1> 
                    <p>"Messidona"</p> 
                    <p>7x Ballon d'Or</p>
                    <p>3x UEFA Best Player in Europe</p>
                    <p>22x Top Scorer</p>
                    <p>10x Player of the Year</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="grid-item">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="static/photos/2963993-60835788-2560-1440.jpeg" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>Neymar</h1> 
                    <p>"Joia"</p> 
                    <p>1x Footballer of the Year</p>
                    <p>3x Top Scorer</p>
                    <p>Champions League Winner</p>
                    <p>3x French Champion</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="grid-item">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="static/photos/pele1-superJumbo.jpeg" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>Pelé</h1> 
                    <p>"Dico"</p> 
                    <p>6× Top Scorer</p>
                    <p>3x World Cup Winner</p>
                    <p>6x Brazilian Champion</p>
                    <p>2x Copa Libertadores Winner</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="grid-item">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="static/photos/10f02eb4-5372-4137-962e-2ba6e3bd8df9.jpeg" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>Diego Maradona</h1> 
                    <p>"Barrilete"</p> 
                    <p>4x Footballer of the Year</p>
                    <p>World Cup Winner</p>
                    <p>2x Top Scorer</p>
                    <p>2x Italian Champion</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="grid-item">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="static/photos/640px-Johan_Cruyff_1974c.jpeg" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>Johan Cruyff</h1> 
                    <p>"Jopie"</p> 
                    <p>7x Top Scorer</p>
                    <p>9x Dutch Champion</p>
                    <p>UEFA Supercup Winner</p>
                    <p>3x Ballon d'Or</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
      </div>
    
      
</body>

</html>